/* Базовые роли переменных */
:root {
  interpolate-size: allow-keywords;
  --bg-page: #0f0a0a; /* Основной фон (body) */
  --bg-surface: #151515; /* Фон блоков/карточек */
  --bg-element: #242424; /* Фон глубоких элементов */
  --bg-element-hover: #333333; /* Глубокий ховер */

  --color-accent: #82d173; /* Контрастный цвет для важных элементов */
  --color-accent-hover: #75be66; /* Ховерный контраст */
  --color-plain: #ffffff; /* Цвет для обычного текста */
  --special: #ffd700; /* Цвет специальных блоков */
  --special-hover: #ffbf00; /* Ховерный специальный */
  --airalert-safe: #3fd122; /* Цвет блока воздушной тревоги (нет) */
  --airalert-danger: #d12222; /* Цвет блока воздушной тревоги (есть) */
}

/* Тема 1: Dark Pink */
[data-theme="dark-pink"] {
  --bg-page: #1e1b1c;
  --bg-surface: #262223;
  --bg-element: #332d2f;
  --bg-element-hover: #463e41;

  --color-accent: #e91e63;
  --color-accent-hover: #d21756;
  --color-plain: #ffffff;
}

/* Тема 2: Dark Red */
[data-theme="dark-red"] {
  --bg-page: #001f25;
  --bg-surface: #002a32;
  --bg-element: #003843;
  --bg-element-hover: #004d5c;

  --color-accent: #ed254e;
  --color-accent-hover: #d11c41;
  --color-plain: #ffffff;
}

/* Тема 3: Dark Purple */
[data-theme="dark-purple"] {
  --bg-page: #00120b;
  --bg-surface: #0a1f17;
  --bg-element: #142e23;
  --bg-element-hover: #1c4131;

  --color-accent: #c200fb;
  --color-accent-hover: #a800db;
  --color-plain: #ffffff;
}

/* Тема 4: Dark Green */
[data-theme="dark-green"] {
  --bg-page: #0f0a0a;
  --bg-surface: #151515;
  --bg-element: #242424;
  --bg-element-hover: #333333;

  --color-accent: #82d173;
  --color-accent-hover: #75be66;
  --color-plain: #ffffff;
}

@font-face {
  font-family: gealman;
  src: url(fonts/gealman.otf);
}

@font-face {
  font-family: modavina;
  src: url(fonts/modavina.otf);
}

body {
  background-color: var(--bg-page);
  color: var(--color-accent); /* Основной цвет текста по умолчанию */

  & > header {
    height: 6rem;
    color: var(--color-accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    & > h1 {
      font-size: 3.5rem;
      letter-spacing: 0.25rem;
      text-transform: uppercase;
      font-family: modavina;
      /* Если хочешь заголовок цвета заглушки: color: var(--color-plain); */
    }

    & > .header-buttons {
      display: flex;
      gap: 1.5rem;

      & > .header-button {
        width: 4.5rem;
        height: 4.5rem;
        padding: 1rem;
        border-radius: 1em;

        background-color: var(--color-accent); /* ФОН КНОПКИ */
        --icon-color: var(--bg-page); /* ЦВЕТ ИКОНКИ (ВЕКТОРА) */

        &:hover {
          background-color: var(--color-accent-hover);
        }
      }

      /* Кастомный призрак */
      & > #user {
        background-color: var(--bg-page); /* ФОН КНОПКИ */
        --icon-color: var(--color-accent); /* ЦВЕТ ВЕКТОРА */
        border: 2px solid var(--color-accent);
        border-radius: 10em;

        &:hover {
          background-color: var(--bg-element);
        }
      }
    }
  }

  & > .main {
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: row;
    padding: 0 1.5rem 1rem 1.5rem;
    gap: 3.5rem;

    & > div {
      height: 100%;
      background: var(--bg-surface); /* Динамический фон блоков */
      border-radius: 0.6rem;
    }

    & > .schedule {
      width: 75%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
      row-gap: 1.5rem;
      padding: 2.5rem;
      padding-top: 1.5rem;
      border-top-right-radius: 0;
      position: relative;

      .pages {
        position: absolute;
        /* top: -3rem; */
        top: 0;
        right: -3rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        perspective: 40rem;
        overflow: hidden;

        & > button {
          width: 3rem;
          height: 10rem;
          background-color: var(--bg-surface);
          color: var(--color-plain);
          font-family: gealman;
          font-size: 1.5rem;
          border: none;
          border-radius: 0 12px 12px 0;
          padding-right: 0.5rem;
          transform-origin: left center;
          transition: all 0.2s ease;
          transform: translateX(-5px);
          display: flex;
          justify-content: center;
          align-items: center;

          & > span {
            display: inline-block;
            transform: rotate(90deg);
            white-space: nowrap;
          }

          &:hover {
            background-color: var(--bg-element);
            color: var(--color-accent);
            cursor: pointer;
            /* Наведенная вкладка слегка выдвигается */
            transform: translateX(-3px);
          }

          &.active {
            background-color: var(--color-accent);
            color: var(--bg-page);
            transform: translateX(
              0px
            ); /* Активная становится плоской и выступает вперед */
          }
        }
      }

      & > .day {
        width: calc((100% - 4rem) / 3);
        counter-reset: lesson-num;
        /* background: #000; */
        /* padding: 1rem; */

        & > h2 {
          color: var(--color-accent);
          font-size: 3rem;
          font-family: modavina;
        }

        .lecture-row {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          align-items: center;

          &:before {
            counter-increment: lesson-num;
            content: counter(lesson-num) ".";
            font-size: 2rem;
            font-family: gealman;
            padding-left: 1.5rem;
            width: 2rem;
            text-align: right;
            font-variant-numeric: tabular-nums;
            color: var(--text-color, inherit);
          }

          & > a {
            /* width: 75%; */
            color: var(--color-plain);
            font-size: 2rem;
            font-family: gealman;
            padding-left: 1.5rem;

            &.active {
              color: var(--special);
            }

            &:hover {
              color: var(--special-hover);
              /* text-decoration: underline; */
            }
          }

          & > button {
            width: 2.2rem;
            height: 2.2rem;
            padding: 0.3em;
            --icon-color: var(--special);
            border-radius: 0.5rem;

            &:hover {
              background-color: var(--special);
              --icon-color: var(--bg-surface);
              cursor: pointer;
            }
          }
        }
      }
    }

    & > .navbar {
      width: 25%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;

      & > .clock {
        width: 100%;
        padding: 1rem;
        font-family: gealman;
        color: var(--color-plain);
        background: var(--bg-element);
        border-radius: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > h1 {
          font-size: 7rem;
          margin-bottom: -2rem;
          font-variant-numeric: tabular-nums;
        }

        & > h2 {
          font-size: 1.8rem;
          margin-bottom: 1.5rem;
          color: var(--color-accent); /* А тут подмешиваем контраст */
        }
      }

      & > .bells {
        width: 100%;
        padding: 1rem;
        font-family: modavina;
        color: var(--color-plain);
        background: var(--bg-element);
        border-radius: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .bell {
          font-size: 2rem;
        }
      }

      .air-alert {
        width: 100%;
        height: 8rem;
        padding: 1.5rem;
        font-family: modavina;
        color: var(--airalert-danger);
        background: var(--bg-element);
        border-radius: 0.7rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;

        & > .alert-state {
          width: 5rem;
          height: 5rem;
          padding: 1rem;
          border-radius: 0.7rem;
          background: var(--airalert-danger);
          --icon-color: var(--color-plain);
        }
      }
    }
  }

  & > .bg-coverer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--color-accent) 40%, transparent);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    display: flex;
    justify-content: center;
    align-items: center;

    & > .form-lecture {
      width: 40rem;
      background-color: var(--bg-surface);
      padding: 1.5rem;
      border-radius: 0.7rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;

      & > h1 {
        text-align: center;
        font-family: modavina;
        font-size: 2rem;
      }

      & > input[type="text"] {
        width: 100%;
        padding: 0.5rem;
        background-color: var(--bg-page);
        color: var(--color-accent);
        font-family: gealman;
        font-size: 1.8rem;
        border-radius: 0.5rem;

        &:first-of-type {
          margin-top: 1rem;
        }

        &:last-of-type {
          margin-bottom: 1rem;
        }
      }

      & > .flexbox {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        & > button {
          width: 50%;
          padding: 0.5rem;
          font-family: modavina;
          font-size: 1.8rem;
          border-radius: 0.5rem;

          &:hover {
            cursor: pointer;
          }
        }

        & > #submit {
          background-color: var(--color-accent);
          color: var(--bg-page);

          &:hover {
            background-color: var(--color-accent-hover);
          }
        }

        & > #cancel {
          background-color: var(--bg-element);
          color: var(--color-plain);

          &:hover {
            background-color: var(--bg-element-hover);
          }
        }
      }
    }

    & > .form-bell {
      width: 40rem;
      background-color: var(--bg-surface);
      padding: 1.5rem;
      border-radius: 0.7rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;

      &.inactive {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
      }

      & > select {
        width: 100%;
        padding: 0.5rem;
        background-color: var(--bg-element);
        color: var(--color-accent);
        font-family: modavina;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
      }

      & > .input-time {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        & > p {
          font-family: modavina;
          font-size: 3.4rem;
        }

        & > .group {
          width: 25%;
          /* background: #000; */
          display: flex;
          flex-direction: column;
          align-items: center;

          & > .up {
            width: 3rem;
            height: 3rem;
            --icon-color: var(--color-accent);
          }

          & > input[type="number"] {
            width: 100%;
            padding: 1rem;
            border-radius: 0.7rem;
            font-size: 2rem;
            font-family: modavina;
            text-align: center;
            background: var(--bg-page);
          }

          & > .down {
            width: 3rem;
            height: 3rem;
            transform: rotate(180deg);
            --icon-color: var(--color-accent);
          }
        }
      }

      & > button {
        width: 100%;
        padding: 0.5rem;
        margin-top: 1rem;
        background-color: var(--color-accent);
        color: var(--bg-page);
        font-family: modavina;
        font-size: 1.8rem;

        &:hover {
          background-color: var(--color-accent-hover);
          cursor: pointer;
        }
      }
    }
  }
}

/* Все SVG на странице красятся в цвет текста родительского блока */
svg {
  fill: var(--color-plain);
}
